<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f2f4f0] px-10 py-3">
          <div class="flex items-center gap-4 text-[#141811]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 4H17.3334V17.3334H30.6666V30.6666H44V44H4V4Z" fill="currentColor"></path></svg>
            </div>
            <h2 class="text-[#141811] text-lg font-bold leading-tight tracking-[-0.015em]">AgriVision AI</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
            <a class="text-[#141811] text-sm font-medium leading-normal" href='/'>Home</a>
              <a class="text-[#141811] text-sm font-medium leading-normal" href={{url_for('agriinsight')}}>Agriinsight AI</a>
              <a class="text-[#141811] text-sm font-medium leading-normal" href={{url_for('dashboard')}}>Dashboard</a>
              <a class="text-[#141811] text-sm font-medium leading-normal" href={{url_for('dataset')}}>Dataset</a>
              <a class="text-[#141811] text-sm font-medium leading-normal" href={{url_for('team')}}>Team</a>
              <a class="text-[#141811] text-sm font-medium leading-normal" href={{url_for('upload_file')}}>Upload</a>
            </div>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://cdn.usegalileo.ai/sdxl10/8a02553d-8f9e-4656-90f4-9f371688330a.png");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-[#141811] tracking-light text-[32px] font-bold leading-tight min-w-72">Crop Health Analysis</p>
            </div>
            <p class="text-[#141811] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Upload images of your crops for AI-powered analysis of their health and identification of potential issues. Drag and drop your images here or browse your files to
              begin.
            </p>
            <div class="flex flex-col p-4">
              <div class="flex flex-col items-center gap-6 rounded-xl border-2 border-dashed border-[#e0e5dc] px-6 py-14">
                <p class="text-[#141811] text-lg font-bold leading-tight tracking-[-0.015em] max-w-[480px] text-center">Drag and drop images here, or</p>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f2f4f0] text-[#141811] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Browse Files</span>
                </button>
              </div>
            </div>
            <h2 class="text-[#141811] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Image Preview</h2>
            <div class="flex w-full grow bg-white @container p-4">
              <div class="w-full gap-1 overflow-hidden bg-white @[480px]:gap-2 aspect-[3/2] rounded-xl flex">
                <div
                  class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none flex-1"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/5d96469f-a639-4f79-9cb0-66d712c5966b.png");'
                >
                  <img src = '{{uploaded_image}}'>
                </div>
              </div>
            </div>

            <h2 class="text-[#141811] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Analysis Results</h2>
            <p class="text-[#141811] text-base font-normal leading-normal pb-3 pt-1 px-4">Our AI model has analyzed the image and identified the following:</p>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-1 gap-3 rounded-lg border border-[#e0e5dc] bg-white p-4 items-center">
                <div class="text-[#141811]" data-icon="TreeEvergreen" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M230.32,187.09l-46-59.09H208a8,8,0,0,0,6.34-12.88l-80-104a8,8,0,0,0-12.68,0l-80,104A8,8,0,0,0,48,128H71.64l-46,59.09A8,8,0,0,0,32,200h88v40a8,8,0,0,0,16,0V200h88a8,8,0,0,0,6.32-12.91ZM48.36,184l46-59.09A8,8,0,0,0,88,112H64.25L128,29.12,191.75,112H168a8,8,0,0,0-6.31,12.91L207.64,184Z"
                    ></path>
                  </svg>
                </div>
                <h2 class="text-[#141811] text-base font-bold leading-tight">Estimated Crop Yield</h2>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#141811] text-base font-bold leading-tight">Possible Plant Disease Detected</p>
                    <p class="text-[#758863] text-sm font-normal leading-normal">
                      {{crop_result}}
                    </p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f2f4f0] text-[#141811] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Details</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"

                ><img src="{{ url_for('static', filename=uploaded_image.split('static/')[1]) }}"></div>
              </div>
            </div>
            <h2 class="text-[#141811] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Recommendations</h2>
            <p class="text-[#141811] text-base font-normal leading-normal pb-3 pt-1 px-4">{{crop_recommendation}}</p>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
